.footer__navigation a {
  display: inline-block;
  padding: 10px;
  font-size: 11px;
  font-weight: 800;
  color: #8a8887;
  letter-spacing: 0.08em;
}

.footer__navigation {
  display: block;
  text-transform: uppercase;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.list--unstyled {
  margin-bottom: 0;
}

.list--unstyled > li {
  list-style: none;
  margin-left: 0;
}
.list--inline > li {
  display: inline-block;
  margin-left: 0;
}
.footer__navigation a:hover,
.footer__navigation a:visited {
  color: #ffffff;
  text-decoration: underline;
}
.separator {
  height: 2px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(/distressed-stroke.svg);
  background-repeat: repeat-x;
  background-position: 50% 50%;
  background-size: 420px 2px;
}

.lower-footer {
  background-color: #252423;
  color: #8a8887;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 0 40px;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__cookie {
  display: block;
}
.footer__cookie:hover {
  color: #ffffff;
  text-decoration: underline;
}
.footer__small {
  display: block;
}
.move_top {
  margin-left: auto;
  font-weight: 500;
}
.move_top:hover {
  color: #d1363a;
}
.monospace {
  color: #d1363a;
  letter-spacing: 0.025em;
  font-size: 0.75rem;
  line-height: 1.667;
  font-family: "Eco Coding W02 WGL4", monospace;
}
