.dropdown {
  cursor: pointer;
  text-align: left;
  width: 200px;
}
.dropdown:hover {
  background-color: rgba(250, 224, 224, 0.5) !important;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
