.navbar {
    font-family: 'Roboto';
    height: 80px; /* Set the desired height of the navbar */
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%); */
    /* background-color: transparent !important; */
  }
  
  .navbar-logo {
    /* position: relative; */
    
    width: 150px; /* Set the desired width of the logo */
    height: 100; /* Allow the height to adjust automatically based on the width */
  }
  .navbar .nav-link.dropdown-toggle:hover {
    background-color: rgba(249, 235, 235, 0.5) !important;
    border-radius: 10px;
  }
  .dropdown-menu.show {
    border-top: 3px solid rgb(213, 55, 55);;
  }
  .dropdown-item{
    min-width: 200px;
    min-height: 50px;
    font-family: 'Heebo';
  }
  .navbar-logo-offcanvas{
    width: 80px;
    height: 80px;
    justify-content: left;
  }