.hiring-segment {
  max-width: 80%;
  margin: auto;
  padding-top: 86px;
}

.hiring-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}

.hiring-title {
  font-size: 28px;
  color: #b91c1c;
  font-weight: 700;
}

.hiring-desc {
  font-size: 21px;
  margin: 19px 0;
  /* text-align: center; */
}

.multiImg-section {
  display: flex;
  margin-top: 45px;
  gap: 10px;
  justify-content: space-between;
  position: relative;
}

.multiImg-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.multiImg-bottom {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 20px 0;
  grid-column: auto;
}

.single-img {
  position: relative;
  transition: transform 0.3s ease;
}

.single-img:hover {
  transform: scale(1.1);
}

.btn-over {
  position: absolute;
  color: black;
  color: #f34040;
  background-color: whitesmoke;
  opacity: 0.9;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  /* font-weight: 900; */
  max-width: 50%;
  border: 1px solid white;
  margin: auto;
  border-radius: 20px;
}

.hiring-heading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.hiring-subHeading {
  text-align: center;
}

@media screen and (max-width: 540px) {
  .hiring-title {
    font-size: 20px;
  }

  .img {
    width: 300px;
    height: 300px;
  }

  .img-over {
    font-size: 10px;
  }

  .multiImg-top {
    grid-template-columns: 1fr;

    grid-gap: 10px;
    align-items: center;
  }

  .multiImg-bottom {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: 20px 0;
    grid-column: auto;
  }
}
