.container__grid:has(+ div) {
    background-color: #e7e6e3;
}

.item__image img {
    transition: all .3s ease-out;
    vertical-align: top;
    max-width: 100%;
    aspect-ratio: 600 / 337;
}

.item__image>img {
    width: 100%;
}

.item__image {
    z-index: -2;
    overflow: hidden;
    position: relative;
    background-color: #2b2a29;
}

.item:hover img {
    transition-duration: .1s;
    transform: scale(1.05);
    opacity: .4;
}

.item:hover .image__icon {
    background-color: white;
}

.item:hover .image__icon svg {
    fill: #d1363a;
}

.item:hover .item__content h1 {
    text-decoration: underline;
}

.item {
    margin-bottom: 40px;
}

.container__grid {
    /* margin-top: 80px; */
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1440px;
}

.grid__item {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
}

.item__content {
    padding: 40px 40px 0;
}

.tag {
    display: inline-block;
    background-color: #d1363a;
    color: white;
    font-size: .688rem;
    letter-spacing: .12em;
    padding: 3px 10px 2px;
}

.image__icon {
    position: absolute;
    top: 8px;
    left: 10px;
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #d1363a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__icon svg {
    height: 25px;
    width: 25px;
    fill: white;
}

.item__content h1 {
    margin-top: 20px;
}

.item__content p {
    margin-top: 10px;
} 

@media (min-width: 768px) {
    a:first-child {
        grid-row: span 2 / auto;
        grid-column: span 2 /auto;
    }
}

@media (min-width: 960px) {
    .grid__item {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1280px) {
    .item {
        margin-bottom: 100px;
    }
}